<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.enation.javashop.android.welcome">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:name="apkbuild.MemberApplication"
        android:supportsRtl="true">
    </application>
</manifest>

    <!--单独Module调试 需要往Appltion作用域下加入皮肤-->
    <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
